<!DOCTYPE html>
<div class="portlet light row" ng-controller="AccountManagerController">
    <div class="portlet-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase">账号管理</span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary col-md-2"></button>
            <button class="btn btn-primary col-md-2"></button>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 个人信息
            </div>
        </div>
    </div>
</div>