<!-- BEGIN HEADER MENU -->
<div class="no-radius page-header-menu container" id="header">
    <div class="no-radius">
        <div class="no-radius user-info">
            <span class="no-radius divider"></span>
            <span class="no-radius menu-dropdown mega-menu-dropdown">
                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#"
                   class="no-radius dropdown-toggle u-user-text"> admin <span class="caret"></span>
                </a>
                <span class="no-radius dropdown-menu" style="margin-right: 40px">
                    <span ng-click="$root.redirectToLoginPage()" class="mega-menu-submenu">
                        <a href="/logout">注销</a></span>
                </span>
            </span>
        </div>
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="no-radius hor-menu" style="margin-left: 9.7%;">
            <ul class="no-radius nav navbar-nav">
                <li class="no-radius header-logo">
                    <img src="./icon/logo.png">
                </li>
                <li class="no-radius dashboard menu">
                    <a href="#/homepage">车间首页</a>
                </li>
                <li class="no-radius menu-dropdown classic-menu-dropdown">
                    <a href="#/accountmanager">账号管理 </a>
                    <!--<ul class="no-radius dropdown-menu pull-left">-->
                        <!--<li>-->
                            <!--<a href="#/new_investigation" class="no-radius iconify">我的账号</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/investigation_record" class="no-radius iconify">开通账号</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </li>
                <!--<li class="no-radius menu-dropdown classic-menu-dropdown">-->
                    <!--<a href="#/endpoint_management">探针管理</a>-->
                <!--</li>-->
                <!--<li class="no-radius menu-dropdown classic-menu-dropdown">-->
                    <!--<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="modal" href="#"-->
                       <!--class="no-radius dropdown-toggle">数据管理<span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="no-radius dropdown-menu pull-left">-->
                        <!--<li>-->
                            <!--<a href="#/back_up" class="no-radius iconify">备份</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/storage_maintainance" class="no-radius iconify">存储维护</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="no-radius menu-dropdown classic-menu-dropdown ">-->
                    <!--<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown"-->
                       <!--href="javascript:;" class="no-radius">系统管理-->
                        <!--<span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="no-radius dropdown-menu pull-left">-->
                        <!--<li>-->
                            <!--<a href="#/profile/accountlist" class="no-radius"> 账户 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/network" class="no-radius"> 网络 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/netinterface" class="no-radius"> 网络接口 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/time" class="no-radius"> 时间 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/todo" class="no-radius"> 系统日志 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/sysmaintain" class="no-radius"> 系统维护 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="no-radius"> 关于 </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="no-radius"> 使用授权 </a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<div class="no-radius alert alert-info display-hide">
    <span class="alert-message"> alert-info </span>
    <button class="close pull-right margin-top-5 margin-bottom-10 margin-right-10" data-close="alert"></button>
</div>
<div class="no-radius alert alert-danger display-hide">
    <span class="alert-message"> alert-danger </span>
    <button class="close pull-right margin-top-5 margin-bottom-10 margin-right-10" data-close="alert"></button>
</div>
<div class="no-radius alert alert-success display-hide">
    <span class="alert-message"> alert-success </span>
    <button class="close pull-right margin-top-5 margin-bottom-10 margin-right-10" data-close="alert"></button>
</div>
<div class="no-radius alert alert-warning display-hide">
    <span class="alert-message"> alert-warning </span>
    <button class="close pull-right margin-top-5 margin-bottom-10 margin-right-10" data-close="alert"></button>
</div>
